<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/static/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<a href="http://localhost:8080/"> Information </a> <br>
<a href="http://localhost:8080/login"> Login </a> <br>
<a href="http://localhost:8080/nutritionStore"> Feed your pet </a> <br>
<a href="http://localhost:8080/trickCenter"> Teach it some tricks </a> <br>

    <img src="../images/greenfox.png"> <br>

<span> Your pet's name is </span> <p th:text="${name}"> </p>
<p> Currently living on these two things :</p>
<p th:text="${food}"></p>
<p th:text="${drink}"></p>
<p>Number of tricks learned so far: </p>
<p th:text="${nrOfTricks}"></p>

<h2> Known tricks </h2>
<p th:text="${listOfTricks}"></p>
</body>
</html>