html {
    background: deepskyblue;
}

body {
    font-size: 36px;
    color: gray;
}

table {
    width: 900px;
    height: 600px;
}

table, th, td {
    border: 1px solid gray;
    border-collapse: collapse;
    text-indent: 20px;
}

th {
    background-color: black;
    text-align: left;
    height: 110px;
    color: lightgray;
}

tr:nth-child(2n + 1) {
    background-color: lightgray;
}

tr:nth-child(2n) {
    background-color: white;
}