.red {
    background-color: red;
}

.blue {
     background-color: blue;
 }

.lime {
    background-color: lime;
}

.magenta {
    background-color: magenta;
}

.orange {
    background-color: orange;
}