body {
    background-color: darkgray;
}

form {
    background-color: white;
    margin-top: 10%;
    margin-left: 20%;
    width: 850px;
    height: 450px;
}
input {
    display: block;
    border-style: none;
    border-bottom-style: solid;
    margin: 40px;
    width: 275px;
    height: 30px;
    font-size: 22px;
}

.button {
    width: 155px;
    height: 35px;
    background-color: lightseagreen;
    color: white;
    font-size: 16px;
    margin-top: 60px;
}

input:focus {
    border-bottom-style: solid;
    border-bottom-color: greenyellow;
    border-width: thick;

}

h2 {
    margin: 40px;
    margin-top: 50px;
    font-size: 32px;
}

#left
{
    float: left;
    width: 50%;
}

#right
{
    margin-left: 0;
    float: right;
    width: 50%;
}
.signins {
    display: block;
    width: 200px;
    height: 70px;
}

#fbimage {
    padding-top: 125px;
}